:root {
  --main-color: white;
  --secondary-color: #ebf0f5;
  --tertiary-color: #ebf0f5;
  --text-color: black;
  --secondary-text-color: white;
  --settings-background-color: #ebf0f5;
  --settings-head-color: "black";
}

.color-switch {
  background-color: white;
}

@media screen and (prefers-color-scheme: dark) {
  .color-switch {
    background-color: #151516;
  }

  :root {
    --main-color: #151516;
    --secondary-color: white;
    --tertiary-color: "black";
    --text-color: white;
    --secondary-text-color: black;
    --settings-background-color: #212123;
    --settings-head-color: #5b5c62;
  }
}
